@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

/* Web starts here!! */

.banner1 {
  width: 100%;
  height: 496px;
  background-image: url(../images/banner/background.png);
}
#bannerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
}
#bannerBottom {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bannerBottom button {
  margin: 0px 5px;
  width: 10px;
  height: 8px;
  background-color: #fbc5a6;
}
#bannerBottom button:hover {
  transition: 0.3s;
  background-color: #f17228;
  width: 21px;
}
#bowl img {
  margin: auto;
}
#MstarsFD {
  width: 26.67vw;
  /* height: 43.54%; */
  display: flex;
  align-items: flex-end;
}
#MstarsFD h1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 90%;
  text-align: right;
  color: #f17228;
  letter-spacing: 0.01em;
}
#MstarsFD hr {
  border: 2px solid rgba(241, 114, 40, 0.6);
  margin: 0;
}
#MstarsFD p {
  font-family: "Comfortaa";
  font-size: 22px;
  text-align: right;
  line-height: 120%;
}

#slideRight,
#firstSlide,
#secondSlide,
#thirdSlide {
  width: 60px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(251, 197, 166, 0.2);
  border-radius: 30px;
  border: none;
}

/* Web ends here!! */

/* media Tablet starts here!!! */

@media screen and (max-width: 1240px) {
  .banner1 .contents {
    height: 380px;
  }
  .banner1 {
    height: 380px;
  }
  #bowl img {
    width: 450px;
    height: 350px;
  }
  #MstarsFDright {
    display: none;
  }
  #MstarsFD {
    /* width: 340px; */
  }
  #MstarsFDleft h1 {
    font-weight: 600;
    font-size: 38px;
  }
  #MstarsFDleft hr {
    border: 1.40027px solid rgba(241, 114, 40, 0.6);
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: rgba(241, 114, 40, 0.6);
  }
  #MstarsFDleft p {
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }
  #bannerBottom {
    height: 10px;
  }
  #bannerBottom button {
    width: 7px;
    height: 6px;
    border-radius: 3.50067px;
  }
  #bannerBottom button:hover {
    width: 15px;
  }
}
@media screen and (max-width: 740px) {
  #MstarsFDleft h1 {
    font-size: 30px;
  }
  #MstarsFDleft p {
    font-size: 13px;
  }
  #bowl img {
    width: 420px;
    height: 320px;
  }
  .banner1 .contents {
    display: flex;
    flex-direction: column;
  }
}

/* media Tablet ends here!! */

/* media mobile starts here!! */

@media screen and (max-width: 650px) {
  .banner1 {
    height: 250px;
  }
  .banner1 .contents {
    height: 250px;
    width: 100%;
    margin-right: 7%;
    padding-top: 10px;
  }
  #bowl img {
    width: 230px;
    height: 170px;
  }
  #bowl {
    display: block;
  }
  #MstarsFD {
    position: relative;
    width: 40vw;
  }
  #bannerTop {
    margin-top: 10px;
  }
  #bannerBottom {
    margin-bottom: 30px;
  }
  #MstarsFDleft h1 {
    font-size: 22px;
  }
  #MstarsFDleft p {
    font-size: 12px;
  }
  #bannerBottom button {
    width: 8px;
    height: 5px;
  }
  #bannerBottom button:hover {
    width: 12px;
    height: 5px;
  }
}

/* media mobile ends here!! */
