@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Web starts here!! */
* {
  box-sizing: border-box;
}

.cardsMain {
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  margin-bottom: 15vh;
}

.nameButton h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border-left: 11px solid #f17228;
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.nameButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameButton p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.seeAllButton {
  width: 180px;
  height: 48px;
  background: #f17228;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: none;
}
.seeAllButton a {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff !important;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
}
.seeAllButton p {
  margin-top: auto;
  margin-bottom: auto;
}
.seeAllButton a img {
  margin-top: auto;
  margin-bottom: auto;
}
.mediaButton {
  display: none;
}
.cardsRow {
  width: 83.3vw;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cardsInfo {
  position: relative;
  width: 282px;
  height: 304px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s;
}
.beforeHover {
  position: absolute;
  margin: auto;
  z-index: 0;
}

.afterHover {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
.afterHover img {
  width: 48px;
  height: 41px;
}
.afterHover a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white !important;
  text-decoration: none;
}
.cardsInfo:hover .afterHover {
  transition: 0.5s;
  opacity: 1;
}
.cardsInfo:hover .getBasket {
  opacity: 1;
}
.cardsInfo h2 {
  margin: 0;
  margin-top: 2%;
  margin-left: 10%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.cardsInfo img {
  margin: 5%;
  z-index: 0;
}
.afterHover p {
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  /* width: 83.3vw; */
}
.prices {
  display: flex;
  /* margin: 0px 0px 0px 25px; */
  margin-left: 10%;
}
.prices p {
  /* margin: 0px 15px 15px 0px; */
  margin-right: 10%;
}
.normalPrice {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #f17228;
}
.onSalePrice {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: line-through;
}
.salePercent {
  position: absolute;
  background: #f17228;
  width: 75px;
  height: 43px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0px 8px 0px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 13px 13px 246px 190px;
  z-index: 1;
}
.salePercent p {
  color: white;
  margin-top: 8px;
}
.arrowRight {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}
.modalBtn {
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.modalLeft {
  padding-left: 0 !important;
}
.modalLeft img {
  width: 100%;
  margin: auto;
}
.modalFoodName {
  font-weight: 600;
  font-size: 16px;
}
.modalFoodPrice {
  font-weight: 600;
  font-size: 18px;
  color: #f17228;
  text-align: end;
}
.modal-content {
  overflow: hidden;
}
.modalHR {
  border: 1px solid #f3f3f3;
}
.orts {
  font-weight: 600;
  font-size: 16px;
}
.modalIngred {
  font-weight: 400;
  font-size: 15px;
  background: #f7f8f7;
  border-radius: 10px;
}
.exitBtn {
  width: auto;
}
.counts {
  font-weight: 600;
  font-size: 16px;
}
.modalForm {
  padding: 0 !important;
}
.modalForm input[type="radio"] {
  display: none;
}
.modalMid input[type="number"] {
  background: #fff1e9;
  border-radius: 10px;
  border: none;
}
.modalLab {
  background: #ffffff;
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}
.modalLab span {
  display: flex;
  justify-content: center;
  color: #f17228;
}
#people1:checked:checked ~ .modalLab1,
#people2:checked:checked ~ .modalLab2 {
  transition: all 0.3s ease;
  background: #f17228;
}
#people1:checked:checked ~ .modalLab1 span,
#people2:checked:checked ~ .modalLab2 span {
  transition: all 0.3s ease;
  color: white;
}
.formEndBtn {
  color: white;
  font-weight: 600;
  font-size: 16px;
  background: #f17228;
  width: 100%;
  border: none;
}
.minusBtn,
.plusBtn {
  background: #f17228;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Web ends here!! */

/* Media tablet starts here!! */

@media screen and (max-width: 1240px) {
  .cardsRow {
    height: 280px;
  }
  .nameButton h2 {
    font-size: 16px;
    border-left: 10px solid #f17228;
    padding-left: 5px;
  }
  .seeAllButton {
    display: none;
  }
  .mediaButton {
    display: flex;
  }
  .cardsInfo {
    width: 160px;
    height: 200px;
  }
  .beforeHover img {
    width: 140px;
    height: 132px;
    margin: 10px 10px 0px 10px;
  }
  .beforeHover h2 {
    /* margin: 0px 0px 0px 20px; */
    font-size: 12px;
  }
  .prices {
    /* margin: 0px 0px 0px 20px; */
  }
  .prices p {
    font-size: 14px;
  }
  .salePercent {
    margin: 10px 10px 164px 104px;
    width: 46px;
    height: 26px;
    font-size: 14px;
    border-radius: 0px 6px 0px 10px;
  }
  .salePercent p {
    margin: 3px 6px;
  }
  .afterHover img {
    width: 35px;
    height: 30px;
  }
}

/* Media tablet ends here!! */

/* Media mobile starts here!! */

@media screen and (max-width: 650px) {
  .cardsRow {
    height: 260px;
    width: 90%;
  }
  .mobileHide {
    display: none;
  }
  .cardsInfo {
    width: 156px;
    height: 190px;
  }
  .nameButton h2 {
    font-size: 14px;
  }
  .beforeHover img {
    width: 136px;
    height: 120px;
  }
  .salePercent {
    margin: 10px 10px 153px 100px;
    width: 46px;
    height: 26px;
    font-size: 14px;
    border-radius: 0px 7px 0px 20px;
  }
}

/* Media mobile ends here */
