@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.cardsMain {
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  margin-bottom: 15vh;
}

.nameButton h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border-left: 11px solid #f17228;
  padding-left: 10px;
}

.nameButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameButton p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.seeAllButton {
  width: 180px;
  height: 48px;
  background: #f17228;
}
.seeAllButton a {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.seeAllButton a img {
  margin-top: auto;
  margin-bottom: auto;
}
.cardsRow {
  width: 83.3vw;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardsInfo {
  /* width: 19.58vw; */
  position: relative;
  width: 282px;
  height: 304px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s;
}
.beforeHover {
  position: absolute;
}
.afterHover {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
.afterHover img {
  width: 48px;
  height: 41px;
}
.afterHover a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.cardsInfo:hover .afterHover {
  transition: 0.5s;
  opacity: 1;
}
.cardsInfo:hover .getBasket {
  opacity: 1;
}
.cardsInfo h2 {
  margin: 0px 0px 0px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.cardsInfo img {
  margin: 15px 15px 0px 15px;
}
.afterHover p {
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  /* width: 83.3vw; */
}
.prices {
  display: flex;
  margin: 0px 0px 0px 25px;
}
.prices p {
  margin: 0px 15px 15px 0px;
}
.normalPrice {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #f17228;
}
.onSalePrice {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: line-through;
}
