@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

/* Web starts here!! */

.footer1 {
  display: grid;
  width: 100%;
  height: 384px;
  background-image: url(../images/footer/background.png);
  justify-content: space-evenly;
  font-family: "Poppins";
  color: #ffffff;
}
.footer1 .contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#footerLogo {
  display: flex;
  align-items: center;
  align-items: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
#footerLogo h2 {
  margin-top: 3%;
}
#footerBottom {
  margin-bottom: 3%;
}
.footer1 hr {
  width: 83.33vw;
  border: 1px solid #ffffff;
  margin-top: 15%;
  margin-bottom: 0;
}
.footer1 a {
  color: #ffffff;
}
#footerTop {
  width: 83.33%;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 0;
}
#footerTop div {
  margin-right: auto;
}
#list1 {
  align-items: flex-start;
}
#list1 li {
  list-style: none;
}
#list2 {
  align-items: flex-start;
}
#list2 li {
  list-style: none;
}
#list1 ul {
  margin: 0;
}
#list2 ul {
  margin: 0;
}
#footerBottom {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
#bottomRight {
  text-align: right;
}
#bottomRight p {
  margin: 0;
}
#logos {
  display: flex;
  justify-content: center;
}
#logos a {
  margin: auto;
}
#footerBottom a {
  text-decoration: none;
}
#bottomMiddle {
  display: flex;
  margin-right: 5vw;
}
#bottomMiddle a {
  margin-right: 2vw;
}
#otherRight {
  display: flex;
}
#bottomLeft p {
  margin-top: 0;
}
#bottomLeft {
  margin-left: 2vw;
}

/* Web ends here!! */

/* Media tablet starts here!! */

@media screen and (max-width: 1240px) {
  #footerLogo img {
    width: 30px;
    height: 30px;
  }
  #footerLogo h2 {
    font-size: 16px;
  }
  #list1 a,
  #list2 a {
    font-size: 14px;
  }
  #otherRight {
    flex-direction: column;
  }
  #bottomMiddle {
    margin: 0px 0px 30px 0px;
  }
  #bottomMiddle a {
    margin: 0px 0px 0px 20px;
  }
  #bottomLeft {
    margin-left: 20px;
  }
}

/* Media tablet ends here!! */
