@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.footer1 {
  display: grid;
  width: 100%;
  height: 384px;
  background-image: url(../images/footer/background.png);
  justify-content: space-evenly;
  font-family: "Poppins";
  color: #ffffff;
}
#footerLogo {
  display: flex;
  align-items: center;
  align-items: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
#footerLogo h2 {
  margin-top: 3%;
}

.footer1 hr {
  width: 83.33vw;
  border: 1px solid #ffffff;
  margin-top: 15%;
}
a {
  color: #ffffff;
}
#footerTop {
  width: 83.33%;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 0;
}
#footerTop div {
  margin-right: auto;
}
#list1 {
  align-items: flex-start;
}
#list1 li {
  list-style: none;
}
#list2 {
  align-items: flex-start;
}
#list2 li {
  list-style: none;
}
#list1 ul {
  margin: 0;
}
#list2 ul {
  margin: 0;
}
#footerBottom {
  display: flex;
  justify-content: space-around;
}
#bottomRight {
  text-align: right;
}
#logos {
  display: flex;
  justify-content: center;
}
#logos a {
  margin: auto;
}
#footerBottom a {
  text-decoration: none;
}
#bottomMiddle {
  display: flex;
  justify-content: right;
}
