@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

/* Web starts here!! */
body {
  width: 100%;
}
header {
  width: 83.3%;
  height: 56px;
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #f17228;
  /* width: 15%; */
}
#logo img {
  width: 40px;
  height: 40px;
}
#menu {
  display: flex;
  width: 26.6vw;
  min-width: 500px;
  justify-content: space-evenly;
  align-items: center;
}
#menu a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}
#menu a:hover {
  color: #f17228;
  transition: 0.2s;
}

#searchBox {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
#searchBox input {
  width: 16.3vw;
  height: 32px;
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fbc5a6;
  background-image: url(/images/header/searchIcon.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 12%;
}

#searchBox input::placeholder {
  font-size: 14px;
}

#basLog {
  margin-top: auto;
  margin-bottom: auto;
  width: 12.5vw;
  height: 32px;
  display: flex;
  align-items: center;
}
#basLog img {
  margin: auto;
}
#basLog #basket {
  margin: auto;
  display: flex;
}
/* #basLog #login {
  display: flex;
} */
#basLog a {
  text-decoration: none;
  color: #f17228;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
#searchIcon {
  display: none;
}
/* Web ends here!! */

@media screen and (max-width: 1200px) {
  header {
    height: 60px;
  }
  #searchBox {
    display: none;
  }
  #searchIcon {
    display: flex;
  }
  #searchIcon img {
    width: 15 px;
    height: 15px;
  }
  #basLog span {
    display: none;
  }
  #basLog img {
    margin: auto;
  }
  #menu {
    font-size: 14px;
    min-width: 350px;
  }
  #logo {
    font-size: 16px;
  }
  #logo img {
    width: 30px;
    height: 30px;
  }
}
