@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.RegisterSpot {
  width: 384px;
  height: 440px;
  margin-top: 48px;
  margin-bottom: 96px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.RegisterSpot h1 {
  font-size: 18px;
  font-weight: 600;
  color: #171717;
  border-left: 9px solid #f17228;
  padding-left: 10px;
}
.RegisterSpot div {
  width: 384px;
  height: 72px;
}
label {
  font-weight: 250;
  font-size: 14px;
}
input[type="email"] {
  width: 359px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffd7bf;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 20px;
  margin-top: 10px;
}
input[type="password"] {
  width: 359px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffd7bf;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 20px;
  background-image: url(../images/hide.jpg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  margin-top: 10px;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 1px solid #f17228;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
#checkboxDiv {
  height: 24px;
  display: flex;
  padding: 0px 80px;
}
#checkboxDiv p {
  font-weight: 400;
  font-size: 12px;
  color: #f17228;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
input[type="submit"] {
  width: 359px;
  height: 48px;
  background: #f17228;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}
