@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
/* .contents {
  max-width: 1440px;
  margin: auto;
}
.banner1 {
  max-width: 1440px;
  margin: auto;
} */

.contents {
  max-width: 1440px;
  margin: auto;
}
.contents hr {
  max-width: 1440px;
}
.contents .cardOnSale {
  max-width: 1440px;
  margin: auto;
}
