@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.uProfileSpot {
  width: 359px;
  height: 312px;
  font-family: "Poppins";
  margin-top: 48px;
  margin-bottom: 224.4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uProfileSpot h1 {
  font-size: 18px;
  font-weight: 600;
  color: #171717;
  border-left: 9px solid #f17228;
  padding-left: 10px;
}
.uProfileSpot label {
  font-weight: 250;
  font-size: 14px;
}

input[type="text"] {
  width: 359px;
  height: 40px;
  border: 1px solid #f17228;
  border-radius: 16px;
  margin-top: 10px;
}
::placeholder {
  padding-left: 20px;
}

input[type="tel"] {
  width: 359px;
  height: 40px;
  border: 1px solid #f17228;
  border-radius: 16px;
  margin-top: 10px;
}
input[type="button"] {
  color: white;
  width: 359px;
  height: 48px;
  background: #f17228;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
}
