@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.fPasswordSpot {
  width: 384px;
  height: 232px;
  margin-top: 48px;
  margin-bottom: 304px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fPasswordSpot h2 {
  border-left: 9px solid #f17228;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
}
.fPasswordSpot input[type="email"] {
  width: 359px;
  height: 40px;
  border: 1px solid #ffd7bf;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 10px;
  padding-left: 20px;
}
.fPasswordSpot input[type="submit"] {
  width: 359px;
  height: 40px;
  border: none;
  background: #f17228;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
}
.fPasswordSpot div {
  margin-bottom: 50px;
}
.fPasswordSpot h2 {
}
