@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
/* Web starts here!! */

.mainMenu {
  width: 83.3%;
}
.mainMenu {
}
.mainDish {
  border: 1px solid #fbc5a6;
  color: black;
  border-radius: 20px;
}
.salad {
  border: 1px solid #fbc5a6;
  border-radius: 20px;

  color: black;
}
.desert {
  border: 1px solid #fbc5a6;
  border-radius: 20px;

  color: black;
}
.onSale {
  border: 1px solid #fbc5a6;
  border-radius: 20px;

  color: black;
}
.menuSelect a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  padding: 9px 40px;
  margin-right: 2.5%;
  cursor: pointer;
}
.lastRow {
  width: 50% !important;
  margin-bottom: 10%;
}
.saladlastRow {
  width: 75% !important;
  margin-bottom: 35%;
}
.desertlastRow {
  margin-bottom: 35%;
}
.onSalelastRow {
  margin-bottom: 60%;
}
/* Web ends here!! */
